##### You can add/delete an element from a dictionary

In [1]:
d1 = {'a': 18, 'b': 11, 'c': 7, 'd': 16}
d1

{'a': 18, 'b': 11, 'c': 7, 'd': 16}

In [2]:
d1['z'] = 792
d1

{'a': 18, 'b': 11, 'c': 7, 'd': 16, 'z': 792}

In [3]:
del d1['b']
d1

{'a': 18, 'c': 7, 'd': 16, 'z': 792}

#### There are many operations that you can do in Lists as well

In [4]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
a.append(9) # Add an element at the end
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = a.pop() # Delete an element from the end
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
9

In [7]:
a[2:] # Get all the elements of the list starting from the third element (reminder: counting in Python starts with 0)

[3, 4, 5, 6, 7, 8]

In [8]:
a[1: 4] # Get all the elements of the list starting from the second element up to the fith element (without the fith)

[2, 3, 4]

In [9]:
a[4: 1: -1] # We can read the elements in a different direction

[5, 4, 3]

In [10]:
a[::2]  # or we can return every second element

[1, 3, 5, 7]

In [11]:
a[::-2]  # or every second element in reverse

[8, 6, 4, 2]

In [12]:
a[1: -3] # Get all the elements of the list starting from the second element up to the third last element

[2, 3, 4, 5]

In [13]:
a + [9, 10, 11] # Append a list to another

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Strings work very similar to lists

In [14]:
a = "Hello World!"
a

'Hello World!'

In [15]:
a[1: 4] # Get all the elements of the string starting from the second element up to the fith element (without the fith)

'ell'

In [16]:
a.upper() # Capitalize all letters

'HELLO WORLD!'

In [17]:
a.lower() # Make all letters to lower letters

'hello world!'

In [18]:
a.count('l') # Count the number of appearences of another string

3

In [19]:
a.replace('World', 'There') # Replace a substring of a string to another substring

'Hello There!'

In [20]:
'abc.1.def.2.jgh'.split('.') # Split a string according to somthing, in this example to the string .

['abc', '1', 'def', '2', 'jgh']

In [21]:
'-'.join(['613', '444', '4516']) # Join a list together to a string by placing a seperator in the middle of the list's elements

'613-444-4516'

In [22]:
'orl' in a # Check whether the string 'orl' is in the string "Hello World!"

True

In [23]:
'hola' in a # Check whether the string 'hola' is in the string "Hello World!"

False

In [24]:
str(34) # Transform an non-string object to a string object (letter we will see how it works 'under the hood')

'34'

In [25]:
'normally the first letter should capital'.capitalize()

'Normally the first letter should capital'

In [26]:
'but for titles the first letter of each word should be capital'.title()

'But For Titles The First Letter Of Each Word Should Be Capital'

In [27]:
s = 'Look at the start and ending.'

print(s.endswith('nding.'))
print(s.endswith('bank'))
print(s.startswith('Look'))
print(s.startswith('look')) # Notice that it is case sensitive

True
False
True
False

#### Formatting of strings is very useful as well. Some basics with the string.format():

In [28]:
'Hello {}!'.format('John') # Replaces the '{}' with the givan parameter

'Hello John!'

In [29]:
'My name is {} and I am in my {}s.'.format('Alex', 30) # We can put more than one parameters and we can put non-string objects

'My name is Alex and I am in my 30s.'

In [30]:
# We can use the same papameter multiple times and we can change the order of the parameters
'{0} is a man. {0} is in his {2} and he likes {1}'.format('Paul', 'bicycling', 40)

'Paul is a man. Paul is in his 40 and he likes bicycling'

In [31]:
a= 322123457456.21314565
'{:,}'.format(a) # We can present numbers with ',' for thousants

'322,123,457,456.21313'

In [32]:
'{:,}'.format(round(a, 2)) # We can present numbers even better by rounding them

'322,123,457,456.21'

### If statements in one line

In [33]:
a = True
'The variable "a" is True' if a else 'The variable "a" is False after all'

'The variable "a" is True'

In [34]:
a = False
'The variable "a" is True' if a else 'The variable "a" is False after all'

'The variable "a" is False after all'

### List and Dictionary Comprehension

In [35]:
# You can create a list with a for loop within the list
['USD.{}.PRICE'.format(x) for x in ['SPY', 'QQQ', 'ES1', 'SPX', 'SP1']]

['USD.SPY.PRICE',
 'USD.QQQ.PRICE',
 'USD.ES1.PRICE',
 'USD.SPX.PRICE',
 'USD.SP1.PRICE']

In [36]:
# We can also loop with a condition (the range would be explained later)
[x for x in range(1, 20) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
# We can fo the same for a dictionary, we can also have a double loop (zip will be exaplained later)
{x: y for x, y in zip(['a', 'b', 'c'], [1, 2, 3])}

{'a': 1, 'b': 2, 'c': 3}

### Special Python Functions

#### In this sections some special Python function will be explained, such as range, zip, and enumerate

##### The build in function range produces and iterator with all the numbers, with similar logic to list comprehension.
##### Range is very useful for loop statements.

In [38]:
# We can also specify the begining of the range as well

for i in range(2, 5):
    print(i)

2
3
4

In [39]:
# We can also specify the step of the iterator

for i in range(2, 5, 2):
    print(i)

2
4

In [40]:
# We can also iterate throw negative numbers

for i in range(-10, -6):
    print(i)

-10
-9
-8
-7

In [41]:
# We can also negative step

for i in range(2, -10, -2):
    print(i)

2
0
-2
-4
-6
-8

In [42]:
# If we just want some repetition but we don't really need any looping variable, or something like that
# we can just leave the number of the variable empty

for _ in range(4):
    print('Hello')

Hello
Hello
Hello
Hello

#### Sometimes we would like to loop from two or more lists simultaneously, this is where the zip function is used.

In [43]:
# let us see a simple example

a = ['a', 'b', 'c']
b = [1, 2, 3]

for x, y in zip(a, b):
    print(x, y)

a 1
b 2
c 3

In [44]:
# If we give only only variable for looping throw the result of the zip iterator then the variable will be a tuple

for i in zip(a, b):
    print(i)

('a', 1)
('b', 2)
('c', 3)

#### Sometimes we want to iterate throw a list, but we also want to have the index of its elements as we iterate throw them. This is when the enumerate function is used.

In [45]:
# A simple example of using the enumerate function

for index, element in enumerate(a):
    print(index, element)

0 a
1 b
2 c

## User Defined Functions

### As in any programming language you can define your own functions.

In [46]:
# A simple example of defining a function

def mysum(a, b):
    return a+b

mysum(3, 5)

8

In [47]:
# Perhaps we do not know how many input parameters the function will take. Then, we can use the *args Python option.

def my_unlimited_sum(*args):
    return sum(args)

print('The result of the above function with input {} is: {}'.format(3, my_unlimited_sum(3)))
print('The result of the above function with input {}, {} is: {}'.format(3, 5, my_unlimited_sum(3, 5)))
print('The result of the above function with input {}, {}, {} is: {}'.format(2, 3, 5, my_unlimited_sum(2, 3, 5)))

The result of the above function with input 3 is: 3
The result of the above function with input 3, 5 is: 8
The result of the above function with input 2, 3, 5 is: 10

In [48]:
# Another similar concept to the mupliple input parameter, *args, we can use the **kwargs to get mapped keywords to values

def print_inf(**kwargs):
    for key, value in kwargs.items():
        print("The value of {} is {}".format(key, value))
    print("The type of the input is {}".format(type(kwargs)))
    print("The input is {}".format(kwargs))
    
print_inf(name='Alex', state='Awake', num_of_legs=2, currently_sitting=True)

The value of name is Alex
The value of state is Awake
The value of num_of_legs is 2
The value of currently_sitting is True
The type of the input is <class 'dict'>
The input is {'name': 'Alex', 'state': 'Awake', 'num_of_legs': 2, 'currently_sitting': True}

## Functional Programming

#### There is another approach to programming which is called functional programming. This treats computation as the evaluation of mathematical functions. Python supports elements of this type of programming paradigm.

### Lambda

#### The reserved word lambda in Python is used to build anonymous functions. 
#### This type of functions are useful when we need to define a function used one time and it is simple to define.

In [49]:
# The syntax of the lambda funcions is after the keyword "lambda" we define the input parameters, followed by the symbol ":", 
# followed by what the function should return.

f = lambda x: x**2

print(f)
print(f(3))
print(f(5))

<function <lambda> at 0x0000000006A960D0>
9
25

In [50]:
# The above function is equivalent to the following function

def squared(x):
    return x**2

### map 
#### One of the common things we do with a list is applying an operation to each item and collect the result.

In [51]:
# For example let's define a list and then get each of its elements squared

a = [1, 2, 3, 4]

list(map(squared, a))

[1, 4, 9, 16]

In [52]:
# Perhaps as you probably already guessed the above is equivalent with

list(map(lambda x: x**2, a))

[1, 4, 9, 16]

In [53]:
# Note however, that the map does not return a list directly but an iterator (in this case called map object)

map(lambda x: x**2, a)

In [54]:
# map can also used for functions with multiple input parameters

list(map(lambda x, y: x+y, [1, 2, 3, 4, 5], [1, 1, 2, 2, 3]))

[2, 3, 5, 6, 8]

### filter 
#### As the name suggests filter extracts each element in the sequence for which the function returns True.

In [55]:
# A simple example is to take only the even elements of a list

a = [x for x in range(15)]

list(filter(lambda x: x%2==0, a))

[0, 2, 4, 6, 8, 10, 12, 14]

In [56]:
# Another example is to take only the elements of a list that are less than a specific/fixed value

list(filter(lambda x: x < 9, a))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
# Another interesting useful example is to get the common elements of two 
# lists (with the order of one of the lists - in this case of the list b)

a = [5,7,9,1,2,3]
b = [2,3,5,6,7,8]
list(filter(lambda x: x in a, b))

[2, 3, 5, 7]

### reduce 
#### The reduce function is a little less obvious in its intent. This function reduces a list to a single value by combining elements via a supplied function, i.e. it accepts an iterator to process, but it's not an iterator itself. At each step, reduce passes the current result of the operation, along with the next item from the list, to the passed-in lambda function.

In [58]:
# The reduce is in the functools in Python 3.0, i.e. we have to import it before we use it.
from functools import reduce

reduce( (lambda x, y: x * y), [1, 2, 3, 4] )

24

In [59]:
# The above then is equivalent with the following

a = [1, 2, 3, 4]
result = a[0]
for x in a[1:]:
    result = result * x

result

24

### Object basics

#### Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects.

#### Objects are used to simplify the arcitecture of projects by grouping together variables, functions etc. For example like in the real world when we want to sent a letter to someone we just take the letter to the post office, we are not interesting in the exact process that the letter arrives to the dectination. Similarly, objects create this level of abstraction and allows us to focus mainly on the input and output of objects instead of how exactly they work "under the hood".

#### This is a mini-introductions of how objects work under the hood.

In [60]:
# A very basic class would look something like this:

class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")
        
a = MyClass()
a

In [61]:
# Now that we have define the object "a" which is an instance of our class MyClass, we can access it's variables 
# and functions (functions within an object are called methods)

print(a.variable)

a.function()

blah
This is a message inside the class.

#### Perhaps you noticed that the method "function" has an input parameter even if it is not used anywhere. Each method, in Python, when it is defined the first input is reserved for specifying the object itself (the object that the method is defined at). We could use any word as this special first paramter, however, by convetion the word "self" is used (other words would work as well, just you would confuse and annoy other programmers when they would read your code).

In [62]:
# You may wonder why we need to reffer to the object itself (by using self). Imagine that a method of an object 
# requires to use another method within the same object. Since we are currently defining the class, there is no
# easy way to refer to the object/class otherwise. Let us see an example.

class numbers:
    v1 = 0
    v2 = 0
    
    def set_variables(self, x, y):
        self.v1 = x
        self.v2 = y
        
    def strange_addition(self, x, y):
        return x+y+y
    
    def print_info(self):
        print('The stored numbers are {} and {}. The result of the strange addition for these numbers is {}.'
              .format(self.v1, self.v2, self.strange_addition(self.v1, self.v2)))
        
a = numbers()

a.print_info()

a.set_variables(3, 5)

a.print_info()

The stored numbers are 0 and 0. The result of the strange addition for these numbers is 0.
The stored numbers are 3 and 5. The result of the strange addition for these numbers is 13.

In [63]:
# There are special methods for Python objects. For example the __init__ method initialize the object and the __str__
# method transform the object into a string which we can easily print in return.

class numbers2:
    
    def __init__(self, v1, v2):
        self.v1 = v1
        self.v2 = v2
        
    def strange_addition(self, x, y):
        return x+y+y
    
    def __str__(self):
        return 'The stored numbers are {} and {}. The result of the strange addition for these numbers is {}.'.format(
            self.v1, self.v2, self.strange_addition(self.v1, self.v2))
    
a1 = numbers2(0, 0)
print(a1)

a2 = numbers2(3, 5)
print(a2)

The stored numbers are 0 and 0. The result of the strange addition for these numbers is 0.
The stored numbers are 3 and 5. The result of the strange addition for these numbers is 13.

#### It is important to note that objects are stored in memory by location reference. When we assign an object to a variable, the reference to th location is assigned to the new variable. Hence, when we do changes to the object by accessing it by one variable, these changes have applied to all other variables that refer to the same object.

In [64]:
# Let us see an example that the above problem does not appear.

x = 3
y = x
y += 1

print(x, y)

3 4

In [65]:
# However, similar logic doens't apply for more complicated objects.

x = [1, 2, 3, 4, 5]
y = x
y[2] = 7

print(x, y)

[1, 2, 7, 4, 5] [1, 2, 7, 4, 5]

#### We can see in the above example that the change that we did in list y also applied to the list x. This is because in reality both variables x and y refer to the same memory location/same object.

In [66]:
# We could avoid the above problem by specifically saying to Python to create a new list

x = [1, 2, 3, 4, 5]
y = list(x)
y[2] = 7

print(x, y)

[1, 2, 3, 4, 5] [1, 2, 7, 4, 5]

In [67]:
# More generaly (applies to all objects not only lists):

x = [1, 2, 3, 4, 5]
y = x.copy()
y[2] = 7

print(x, y)

[1, 2, 3, 4, 5] [1, 2, 7, 4, 5]